<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
  <parameter name = "languageOne" value = "java"></parameter>
  <parameter name = "languageTwo" value = "Selenium"></parameter>
  <classes>
  <class name = "org.execution.DemoForParameters" />
  </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
